# Ignorar base de datos local
db.sqlite3

# Ignorar archivos de caché de Python
__pycache__/

# Ignorar entorno virtual
venv/
# Ignorar archivos de configuración de Azure y VS Code
.deployment
.vscode/
