{% extends "base.html" %}

{% block title %}Inicio - PetRoyale{% endblock %}
{% load static %} 

{% block content %}
<section class="hero-section">
    <h1 class="hero-title">Bienvenido a PetRoyale</h1>
    <img src="{% static 'img/mascotas.jpg' %}" id="imagenPortada" alt="Imagen de portada" class="hero-image">
    <p class="hero-subtitle">Encuentra el mejor alimento y accesorios para tu mascota</p>
    <a href="{% url 'Tienda' %}" class="btn-explorar">Explorar Tienda</a>
</section>
{% endblock %}
