{% extends "base.html" %}
{% load static %}

{% block title %}Correo Enviado - PetRoyale{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h2 class="password-reset-title">Correo Enviado</h2>
    <p class="password-reset-instructions">
        Si el correo que ingresaste está registrado en nuestra base de datos, recibirás un mensaje con instrucciones para restablecer tu contraseña.
    </p>
    <a href="{% url 'login' %}" class="btn btn-primary">Volver al inicio de sesión</a>
</div>
{% endblock %}
