{% extends "base.html" %}

{% block title %}Pedidos - PetRoyale{% endblock %}

{% block content %}
<section class="orders-section">
    <h1 class="orders-title">📦 Pedidos</h1>
    <h2 class="orders-subtitle">Listado de pedidos</h2>

    {% if pedidos_con_detalles %}
        <table class="orders-table">
            <thead>
                <tr>
                    <th>Número de Pedido</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th>Productos Comprados</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pedidos_con_detalles %}
                    <tr>
                        <td>{{ item.pedido.numero_pedido }}</td>
                        <td>{{ item.pedido.fecha }}</td>
                        <td>{{ item.pedido.estado }}</td>
                        <td>{{ item.pedido.total_con_iva }}€</td>
                        <td>
                            <ul>
                                {% for detalle in item.detalles %}
                                    <li>{{ detalle.cantidad }} x {{ detalle.producto.nombre }} - {{ detalle.precio_unitario }}€ c/u</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="orders-text">No hay ningún pedido.</p>
    {% endif %}

    <a href="{% url 'Tienda' %}" class="btn-create">🛍️ Hacer nuevo pedido</a>
</section>
{% endblock %}
