{% extends 'base.html' %}
{% load static %}

{% block title %}Tienda - PetRoyale{% endblock %}

{% block content %}
<section class="store-section">
    <h1 class="store-title">Nuestros Productos</h1>
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <div class="admin-section">
        <a href="{% url 'lista_productos' %}" class="btn btn-primary">Administrar Productos</a>
    </div>
{% endif %}


    <div class="store-container">
        {% for producto in productos %}
    <div class="product-card">
        {% if producto.imagen %}
            <img src="{% url 'mostrar_imagen_producto' producto.id %}" alt="{{ producto.nombre }}" class="product-img">
        {% else %}
            <img src="{% static 'img/productos/default.png' %}" alt="Imagen no disponible" class="product-img">
        {% endif %}
        <h3 class="product-title">{{ producto.nombre }}</h3>
        <p class="product-price">{{ producto.precio }}€</p>
        <button class="btn-buy">Comprar</button>
    </div>
{% endfor %}

    </div>
</section>
{% endblock %}
